@import '../function/function.scss';
@import '../mixin/mixin.scss';

a{
    font-size: 20px;
    margin: 0;
}

p{
    font-size: 17px;
    margin: 0;
}

h1{
    font-size: 40px;
    margin: 0;
}

h3{
    font-size: 30px;
    margin: 0;
    color: $colorlogo;
}

img{
    background-size:cover ;
}

$fontsize1: 17px;
$fontsize2: 20px;