@import '../font/font.scss';
@import '../function/function.scss';
@import '../mixin/mixin.scss';

.logo{
    height: 200px;
    width: 40%;
    object-fit:scale-down;
}

li{
    list-style: none;
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

.navlink:hover{
    font-size: 17px;
}

.hb{
    width: 60%;
    height: 50%;
    border-radius: 5px;
    border: 0px;
    margin: 0 auto 0 auto;
    object-fit: scale-down;
}

.part{
    height: 50%;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.rsimg{
    background-color: grey;
    width: 100%;
    height: 90%;
    margin: 0;
    object-fit: scale-down;
}

.intro-image{
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
    border: 0px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #a7a7a7;
}


.active{
    display: block;
}

.srvimg{
    width: 60%;
    height: 200px;
    @include borderimg;
}

.pimg{
    display: none;
    flex: 1;
    width: calc(33.33% - 30px);
    height: 200px;
    transition: all 1s ease;
    @include borderimg;
}

.pimg2{
    flex: 1;
    width: calc(33.33% - 30px);
    height: 200px;
    transition: all 1s ease;
    @include borderimg;
}

.pimg.active{
    display: block;
    animation: fadeIn 0.5s;
}

hr{
    border:solid 1.5px $colorlogo;
    border-radius: 5px;
    width: 70%;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .footerlink{
    font-weight: 300;
    color: white;
    font-size: 15px;
}

.form{
    @include borderbtn;
    width: 50%;

}

.form0{
    margin: auto;
    @include bgcolor;
    height: 10px;
}

.form2{
    height: 50%;
    width: 90%;
    @include bgcolor
}

.form3{
    width: 50%;
}

.btns{
    margin: auto;
    width: 20%;
    height: 50px;
    @include borderbtn;
    @include bgcolor;
    font-size: 20px;
}

.btns:hover{
    background-color: $colorlogo;
    width: 22%;
    height: 52px;
}